
{% extends "base.html" %}
{% block title %}Stats{% endblock %}

{% block content %}
    <div class="summary">
        <h1>All Runs</h1>
        <p>This should have a white background and border.</p>
    </div>

    <table>
        <tr>
            <th>Run ID</th>
            <th>Van</th>
            <th>Start</th>
        </tr>
        <tr>
            <td>{{ run.id }}</td>
            <td>{{ run.van_number }}</td>
            <td>{{ run.start_time }}</td>
        </tr>
    </table>
{% endblock %}


